<div id="container">
  <ion-img
  src="./../../assets/pngwing.com.png"
  alt="notes image"
  class="fitimg"
></ion-img>
  <ion-text>
    <h2><strong> Manejador de Citas</strong></h2>
  </ion-text>

  <ion-button expand="block" class="fitbtn" color="success" [routerLink]="['/tabs/tab3']"><ion-icon name="add-outline"></ion-icon>Agregar Cita</ion-button>
  <ion-button expand="block" class="fitbtn" color="secondary" fill="outline" [routerLink]="['/tabs/tab2']"><ion-icon name="eye"></ion-icon>Ver Citas</ion-button>
</div>
